{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8080 "public"}
 :nrepl {:port 6666}

 :builds
 {:app {:target :browser
        :output-dir "public/js/"
        :modules {:main {:init-fn vamp.app/init}}}}}
