{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.3.0"]
  [akiroz.re-frame/storage "0.1.4"]
  [binaryage/devtools "1.0.3"]
  [nrepl "0.8.3"]
  [cider/cider-nrepl "0.30.0"]
  [re-frisk "1.6.0"]
  [re-frisk-remote "1.6.0"]]

 :dev-http {8080 "public"}
 :nrepl {:port 6666}

 :builds
 {:app {:target :browser
        :output-dir "public/js/"
        :modules {:main {:init-fn vamp.app/init}}
        :devtools {:preloads [re-frisk.preload]
                   :after-load ajakate.seekwence.core/mount-root}
        :dev {:compiler-options
              {:closure-defines
               {"re_frame.trace.trace_enabled_QMARK_" true}}}}}}
